@use './utils/css/mediaqueries';

:root {
  font-family: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;

  color-scheme: light dark;
  color: colors.$bela;
  background-color: #444444;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{mediaqueries.$phone} {
    font-size: 1rem;
  }
  @media #{mediaqueries.$s-phone} {
    font-size: 0.9rem;
  }
}

:root {
  --max-container-size: 1441px;
  --container-spacing: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: var(--max-container-size);
  margin: 0 max(var(--container-spacing), (100% - var(--max-container-size)) / 2);
}


h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.1rem;
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
  font-weight: 600;
}

h4 {
  font-size: 1.3rem;
  font-weight: 500;
}